-
CHANGELOG.markdown
MIT-LICENSE
docs/Home.markdown
docs/Publication.markdown
docs/Item.markdown
docs/FixedLayout.markdown
docs/Epubinfo.markdown
docs/EpubOpen.markdown
docs/Navigation.markdown
docs/Searcher.markdown
docs/UnpackedArchive.markdown
docs/AggregateContentsFromWeb.markdown
examples/aggregate-contents-from-web.rb
